.backgroundColor{
    -fx-backGround-color: linear-gradient(to left bottom, #000000, #0c0a0b, #141213, #1a181a, #201e20);
}
.button{
    -fx-background-color: none;
    -fx-border-color: #fff;
    -fx-border-radius: 11;
    -fx-cursor: hand;
}
.dateField{
    -fx-background-color: none;
}
.text-field{
    -fx-background-color: black;
    -fx-opacity: 0.3;
    -fx-text-fill: #fff;
    -fx-border-color: white;
    -fx-cursor: hand;
}
.listViewLabel{
    -fx-border-color: white;
    -fx-display: none;
}
.listViewStyle{
    -fx-background-color: none;
    -fx-border-color: white;
}
.list-cell{
    -fx-background-color: none;
    -fx-text-fill: white;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:odd {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-opacity: 0.5;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: cornflowerblue;
}

.button:hover{
    -fx-border-color: cornflowerblue;
}